<h1>PAINEL PRINCIPAL - RESTRITO</h1>

<h1>Bem-vindo ao Painel!</h1>

{% include 'includes/nav.html' %}

<p>Olá, {{ request.user.first_name }}!</p>

<table>
    <thead>
        <tr>
            <th>Nome de Usuário</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.email }}</td>
        </tr>
        {% endfor %}
    </tbody>

    

<!-- Botão de Logout -->
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Sair da Conta</button>
</form>